// SASS setup items

// Colors

$dark-grey: #222222;
$mid-grey: #aeaeae;
$light-grey: #2e2e2e;
$mint: #41d1c6;
$white: #fff;
$salmon: #EE4B54;
$blue: #0457A7;

$alfred-color: #5c1f87;
$rebellion-color: #c20000;
$alton-convent-color: #003f77;
$mumbu-color: #00bff1;
$on-target-color: #0c4e70;
$workplace-color: #98c707;
$backpage-color: #9bcb5d;
$cloud-color: #212529;
$hip-hop-color: #4d4d4d;
$becomeuk-color: #E93C95;
$babbleink-color: #009897;

// Fonts

@font-face {
  font-family: 'social';
  src: url('../fonts/social/social.eot?51655142');
  src: url('../fonts/social/social.eot?51655142#iefix') format('embedded-opentype'),
       url('../fonts/social/social.woff?51655142') format('woff'),
       url('../fonts/social/social.ttf?51655142') format('truetype'),
       url('../fonts/social/social.svg?51655142#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-soundcloud:before { content: '\e800'; } /* '' */
.icon-dribbble:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */

$ff-din-round: "ff-din-round-web", 'DIN Round Pro', 'Helvetica Neue', 'Arial', sans-serif;

// Mixins

// Color schemes

@mixin colour-scheme($color, $h1) {

  background-color: $color;
  @include gradient-directional($color, darken($color, 8%), 135deg);

  a {
    color: darken($color, 25%);
    &:hover {
      color: $white;
    }
  }
  #header {
    a:hover, a.active {
      color: darken($color, 25%);
    }
    a.active {
      //@include transition(color linear 0.5s);
    }
  }
  .logo:hover {
    path {
      fill: darken($color, 20%);
    }
  }
  .resp-nav {
    background-color: rgba(darken($color, 10%), 0.5);
    color: $white;
    &:hover, &:focus {
      background-color: rgba(darken($color, 8%), 0.4);
      color: $white;
    }
  }
  // h1 {
  //   color: darken($color, $h1);
  // }
  .work-nav {
    background-color: rgba(darken($color, 10%), 0.9);
    a {
      color: $white;
      path {
        fill: $white;
      }
    }
    a:hover {
      color: darken($color, 25%);
      path {
        fill: darken($color, 25%);
      }
    }
  }
  //@if $button {
  .button {
    //background-color: darken($color, 15%);
    //background-color: $dark-grey;
    color: #fff;
    &:hover {
      border-color: darken($color, 25%);
      //background-color: darken($color, 18%);
      //background-color: darken($dark-grey, 5%);
      color: darken($color, 25%);
    }
  }
  ///}
  .image.screen {
    img {
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(darken($color, 30%), 0.5);
    }
  }
}

@mixin work-item($color, $width) {
  background-color: $color;
  &:hover {
    background-color: darken($color, 3%);
  }
  img {
    width: $width;
  }
}

// Box sizing
@mixin box-sizing($sizing-type) {
  -moz-box-sizing:$sizing-type;
  -webkit-box-sizing:$sizing-type;
  box-sizing:$sizing-type;
}

// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Keyframes 
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { 
    @content;
  }
  @-moz-keyframes #{$name} { 
    @content;
  }
  @-o-keyframes #{$name} { 
    @content;
  }
  @keyframes #{$name} { 
    @content;
  }
}

// Transforms
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transition: $transform;
}

// Animate
@mixin animation($animate...) {
  -webkit-animation: $animate;
  -moz-animation: $animate;
  -ms-animation: $animate;
  -o-animation: $animate;
  animation: $animate;
}

// Gradients
@mixin gradient-directional($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

// Flexbox

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

// Extends

// @extend %clearfix;
%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
  }
}

// @extend %header-shadow;
%header-shadow {
  &:after {
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    z-index: 10;
    @include gradient-directional(#000, transparent, 0);
  }
}

// @extend %first-letter
%first-letter {
  &:first-letter {
    float: left;
    line-height: 0.55;
    font-size: 3em;
    font-weight: 700;
    margin: 14px 0.2em 0 0;
  }
}

// @extend %vertical-align
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// @extend %h1_header
%h1_header {
  position: fixed;
  top: 20%;
  z-index: -1;
}

// @extend %hyphenate
%hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}