// Copyright olliekav.com 2012 -----------------------------------------------------------------

// Import our other sass partials --------------------------------------------------------------

@import "compass";

// Set up our variables ------------------------------------------------------------------------

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, times, serif;
$base-font-size:   13px;
$base-line-height: 21px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

// Base typography styles ----------------------------------------------------------------------

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

// Base layout styles --------------------------------------------------------------------------

body {
  font-family: $font-family;
  color:$font-color; 
}
#main {
  padding: 50px;
}