@charset "utf-8";

@import "common";
@import "normalize";
@import "gridset";

// Basic layout setup

html {
  height:100%;
  width:100%;
}
body {
  background-color: #fff;
  color: $dark-grey;
  font: 300 150%/1.5 $ff-din-round;
  //padding: 4%;
  position: relative;
  width:100%;
  @include box-sizing(border-box);
  @extend %clearfix;
}
img {
  max-width: 100%;
}
section {
  padding-top: 4em;
}

// Typography

h1,h2,h3,h4 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18vw;
  letter-spacing: -5px;
  line-height: 0.9;
  margin: 0 0 0.5em -1.5%;
}

// Links 

// Links

a {
  color: $white;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $dark-grey;
  }
}

// Header styles 

#header {
  .logo {
    width: 100%;
  }
}
#navigation {
  font-weight: 400;
  text-align: center;
  ul {
    margin: 1em 0 0;
    padding: 0;
    > li {
      list-style: none;
    }
  }
}

// Footer styles

// Homepage

.page-index {
  background-color: $mint;
  color: #fff;
}
#home {
  h1 {
    span {
      display: block;
    }
  }
}