/* line 12, _/stylesheets/partials/_html5reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, _/stylesheets/partials/_html5reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 24, _/stylesheets/partials/_html5reset.scss */
img, object, embed {
  max-width: 100%;
}

/* line 27, _/stylesheets/partials/_html5reset.scss */
html {
  overflow-y: scroll;
}

/* line 30, _/stylesheets/partials/_html5reset.scss */
ul {
  list-style: none;
}

/* line 33, _/stylesheets/partials/_html5reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, _/stylesheets/partials/_html5reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 40, _/stylesheets/partials/_html5reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 47, _/stylesheets/partials/_html5reset.scss */
del {
  text-decoration: line-through;
}

/* line 50, _/stylesheets/partials/_html5reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 54, _/stylesheets/partials/_html5reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 58, _/stylesheets/partials/_html5reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 62, _/stylesheets/partials/_html5reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 66, _/stylesheets/partials/_html5reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, _/stylesheets/partials/_html5reset.scss */
input, select {
  vertical-align: middle;
}

/* line 77, _/stylesheets/partials/_html5reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 83, _/stylesheets/partials/_html5reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 86, _/stylesheets/partials/_html5reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 90, _/stylesheets/partials/_html5reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 93, _/stylesheets/partials/_html5reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 96, _/stylesheets/partials/_html5reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 100, _/stylesheets/partials/_html5reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 103, _/stylesheets/partials/_html5reset.scss */
small {
  font-size: 85%;
}

/* line 106, _/stylesheets/partials/_html5reset.scss */
strong, th {
  font-weight: bold;
}

/* line 109, _/stylesheets/partials/_html5reset.scss */
td, td img {
  vertical-align: top;
}

/* line 112, _/stylesheets/partials/_html5reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 117, _/stylesheets/partials/_html5reset.scss */
sup {
  top: -0.5em;
}

/* line 120, _/stylesheets/partials/_html5reset.scss */
sub {
  bottom: -0.25em;
}

/* line 123, _/stylesheets/partials/_html5reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 126, _/stylesheets/partials/_html5reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 130, _/stylesheets/partials/_html5reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 134, _/stylesheets/partials/_html5reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 139, _/stylesheets/partials/_html5reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 143, _/stylesheets/partials/_html5reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* line 147, _/stylesheets/partials/_html5reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 153, _/stylesheets/partials/_html5reset.scss */
.clearfix:after {
  clear: both;
}

/* line 156, _/stylesheets/partials/_html5reset.scss */
.clearfix {
  zoom: 1;
}

/* line 160, _/stylesheets/partials/_html5reset.scss */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* line 164, _/stylesheets/partials/_html5reset.scss */
body, select, input, textarea {
  color: #333;
}

/* line 167, _/stylesheets/partials/_html5reset.scss */
a {
  color: #03f;
}

/* line 170, _/stylesheets/partials/_html5reset.scss */
a:hover {
  color: #69f;
}

/* line 174, _/stylesheets/partials/_html5reset.scss */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

/* line 179, _/stylesheets/partials/_html5reset.scss */
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

/* line 185, _/stylesheets/partials/_html5reset.scss */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 188, _/stylesheets/partials/_html5reset.scss */
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

/* line 193, _/stylesheets/partials/_html5reset.scss */
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 17, _/stylesheets/style.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 22, _/stylesheets/style.scss */
body {
  background: white;
  color: #201f1f;
  font-size: 93.8%;
  font-family: ff-netto-web-1, ff-netto-web-2, Helvetica, arial, sans serif;
  line-height: 1.5;
}

/* line 29, _/stylesheets/style.scss */
#main {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
}

/* line 37, _/stylesheets/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 40, _/stylesheets/style.scss */
h1 {
  font-size: 4.133em;
}

/* line 43, _/stylesheets/style.scss */
h2 {
  font-size: 2.133em;
}

/* Links */
/* line 48, _/stylesheets/style.scss */
a:hover, a:active {
  outline: none;
}

/* line 51, _/stylesheets/style.scss */
a, a:active {
  color: #50a99f;
  cursor: pointer;
  text-decoration: none;
}

/* line 57, _/stylesheets/style.scss */
a:visited,
a:hover {
  color: #226f66;
  text-decoration: none;
}

/* line 64, _/stylesheets/style.scss */
#header {
  padding: 0 20px;
}

/* line 67, _/stylesheets/style.scss */
#header {
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 70, _/stylesheets/style.scss */
#header > div {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto 1.5em auto;
  max-width: 1140px;
  overflow: hidden;
  padding: 1.5em 0;
  width: 100%;
}
/* line 78, _/stylesheets/style.scss */
#header > div > h1 {
  font-size: 1em;
}
/* line 83, _/stylesheets/style.scss */
#header > div > h1,
#header > div > p,
#header > div > nav {
  float: left;
  margin-right: 4px;
}
/* line 87, _/stylesheets/style.scss */
#header span {
  color: #cccccc;
  display: inline-block;
  margin: 0 3px 0 5px;
}
/* line 92, _/stylesheets/style.scss */
#header ul {
  float: left;
  margin: 0;
}
/* line 95, _/stylesheets/style.scss */
#header ul > li {
  display: inline;
  float: left;
}
/* line 99, _/stylesheets/style.scss */
#header ul > li > span,
#header ul > li > a > span {
  color: #cccccc;
}

/* line 108, _/stylesheets/style.scss */
#footer {
  clear: both;
}

/* line 114, _/stylesheets/style.scss */
#latest_work {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
/* line 118, _/stylesheets/style.scss */
#latest_work > article {
  float: left;
  margin: 0 5% 0 0;
  position: relative;
  width: 30%;
}
/* line 124, _/stylesheets/style.scss */
#latest_work > article.last {
  margin-right: 0;
}
/* line 127, _/stylesheets/style.scss */
#latest_work > article img {
  display: block;
  width: 100%;
}
/* line 131, _/stylesheets/style.scss */
#latest_work > article > a {
  border: 1px solid #e6e6e6;
  display: block;
}
/* line 135, _/stylesheets/style.scss */
#latest_work > article > div {
  background: rgba(80, 169, 159, 0.9);
  display: none;
}
/* line 139, _/stylesheets/style.scss */
#latest_work > article > div > h2 {
  margin: 1.5em;
}
/* line 142, _/stylesheets/style.scss */
#latest_work > article:hover > div {
  color: white;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* line 152, _/stylesheets/style.scss */
#latest_work > article:hover > a {
  border: 1px solid #226f66;
}
