.content

  =link_to("olliekav.com", "/") 

  %span //

  %h1 web designer and front end developer

  %nav 
    %ul
      %li=link_to("home", "/")
      %li=link_to("blog", "")
      %li=link_to("music", "")
      %li=link_to("contact", "")