%header#header

  =link_to("olliekav.com", "/", :id => "logo")

  -if page_classes == 'index' 
    %h1 I design and build cool stuff.

  %nav 
    %ul
      %li=link_to("about", "/about", :class => ('active' if page_classes == 'about'))
      %li.music=link_to("music", "/music", :class => ('active' if page_classes == 'music'))