<div class="logo">
  <a href="/">
    <svg x="0px" y="0px" preserveAspectRatio="xMinYMin meet" viewBox="0 0 292.069 292.069">
      <g>
        <path fill="#FFFFFF" d="M146.034,292.069C65.511,292.069,0,226.558,0,146.035C0,65.511,65.511,0,146.034,0
        c80.524,0,146.035,65.511,146.035,146.035C292.069,226.558,226.558,292.069,146.034,292.069z M146.034,30
        C82.053,30,30,82.053,30,146.035c0,63.981,52.053,116.034,116.034,116.034c63.982,0,116.035-52.053,116.035-116.034
        C262.069,82.053,210.016,30,146.034,30z"/>
        <path fill="#FFFFFF" d="M145.793,212.069c-3.839,0-7.678-1.465-10.606-4.394l-51.035-51.034c-2.813-2.813-4.394-6.628-4.394-10.606
        c0-3.978,1.581-7.793,4.394-10.606l51.035-51.035c5.857-5.858,15.354-5.858,21.213,0c5.857,5.858,5.857,15.355,0,21.213
        l-40.428,40.428l40.428,40.428c5.857,5.857,5.857,15.355,0,21.213C153.471,210.604,149.632,212.069,145.793,212.069z"/>
      </g>
    </svg>
  </a>
</div>