<% work_pages = data.work.clients %>
<div class="work-nav">
  <ul>
    <% work_pages.each_with_index do |p, index| %>
      <% current_url = "/work/#{p.url}/" %>
      <% if current_url == current_page.url %>
        <% next_page = work_pages[index+1]  %>
        <% prev_page = work_pages[index-1] %>
        <% content_tag(:li, class: "prev") do %>
          <% link_to("/work/#{prev_page.url}/") do %>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               viewBox="200 200 100 100" enable-background="new 200 200 100 100" xml:space="preserve">
            <path fill="#FFFFFF" d="M250,300c-27.57,0-50-22.43-50-50c0-27.57,22.43-50,50-50c27.57,0,50,22.43,50,50
              C300,277.57,277.57,300,250,300z M250,210.272c-21.906,0-39.728,17.822-39.728,39.729c0,21.906,17.822,39.728,39.728,39.728
              c21.906,0,39.729-17.822,39.729-39.728C289.728,228.094,271.906,210.272,250,210.272z"/>
            <path fill="#FFFFFF" d="M249.917,272.609c-1.314,0-2.629-0.502-3.631-1.504l-17.474-17.473c-0.963-0.963-1.504-2.269-1.504-3.631
              c0-1.362,0.541-2.668,1.504-3.631l17.474-17.474c2.005-2.006,5.257-2.006,7.263,0c2.005,2.006,2.005,5.257,0,7.263L239.707,250
              l13.842,13.842c2.005,2.005,2.005,5.257,0,7.263C252.546,272.108,251.232,272.609,249.917,272.609z"/>
            </svg>
            <span>Prev</span>
          <% end %>
        <% end unless index == 0 %>
        <% content_tag(:li, class: "next") do %>
          <% link_to("/work/#{next_page.url}/") do %>
            <span>Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               viewBox="200 200 100 100" enable-background="new 200 200 100 100" xml:space="preserve">
            <path fill="#FFFFFF" d="M250,200c27.57,0,50,22.43,50,50c0,27.57-22.43,50-50,50c-27.57,0-50-22.43-50-50
              C200,222.43,222.43,200,250,200z M250,289.728c21.906,0,39.728-17.822,39.728-39.729c0-21.906-17.822-39.728-39.728-39.728
              c-21.906,0-39.729,17.822-39.729,39.728C210.272,271.906,228.094,289.728,250,289.728z"/>
            <path fill="#FFFFFF" d="M250.083,227.391c1.314,0,2.629,0.502,3.631,1.504l17.474,17.473c0.963,0.963,1.504,2.269,1.504,3.631
              c0,1.362-0.541,2.668-1.504,3.631l-17.474,17.474c-2.005,2.006-5.257,2.006-7.263,0c-2.005-2.006-2.005-5.257,0-7.263L260.293,250
              l-13.842-13.842c-2.005-2.005-2.005-5.257,0-7.263C247.454,227.892,248.768,227.391,250.083,227.391z"/>
            </svg>
          <% end %>
        <% end unless index == work_pages.size - 1 %>
      <% end %>
    <% end %>
  </ul>
</div>