<% content_for(:title, "Design, Code. Play.") %>
<% content_for(:description, "Hi, I'm Ollie, a designer and front end developer currently residing in Ottawa, Canada.") %>

<section class="home">
  <h1>
    <span>Design.</span>
    <span>Code.</span>
    <span>Play.</span>
  </h1>
</section>