<% content_for(:title, "Design, Code. Play.") %>
<% content_for(:description, "We love designing for clients who share our vision for a better world.") %>

<section class="home">
  <h1>
    <span>Design.</span>
    <span>Code.</span>
    <span>Play.</span>
  </h1>
</section>