<% content_for(:title, "Home") %>
<% content_for(:description, "Hi, I'm Ollie, a designer and front end developer currently residing in Ottawa, Canada.") %>

<section class="work-list">
  
  <% work_list = data.work.clients %>
  <%# $stderr.puts work_list %>
  <% data.work.clients.each do |c| %>
    <article class="client">
      <% link_to("/work/#{c.url}/", class: "wi-#{c.url}", title: c.name) do %>
        <% image_url = "work/#{c.url}/#{c.logo}" %>
        <%= image_tag(image_url, :alt => c.name) %>
        <h2><%= c.name %></h2>
      <% end %>
    </article>
  <% end %>

</section>