- content_for :head do
  %title Homepage

.content
  %ul#portfolio_list
    %li.portfolio_item
      .col_8
        = image_tag("portfolio/rodeo_hunters_2.jpg", :alt => "")
      .col_4
        %h2 RodeoGames
        .meta
          Design, HTML, CSS, JQuery 
          %span //
          Client: 
          =link_to("Kyan.com", "http://kyan.com")
        %p Portfolio item description
        