<% content_for(:title, "Music") %>
<% content_for(:description, "I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.") %>

<section class="music" data-no-turbolink>
  <h1>Music</h1>
  <div class="row">
    <div class="col-1">
      <p>I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.</p>
    </div>
    <div class="col-2">
      <p>Check out some of my mixes below from the past few years, a selection of Drum &amp; Bass, Techno and House music.</p>
    </div>
  </div>
  <div id="player-1" class="media-player"></div>
  <div id="player-2" class="media-player"></div>
  <div id="player-3" class="media-player"></div>
  <div id="player-4" class="media-player"></div>
  <div id="player-5" class="media-player"></div>
  <div id="player-6" class="media-player"></div>
  <div id="player-7" class="media-player"></div>
</section>