<% content_for(:title, "Music") %>
<% content_for(:description, "I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.") %>

<section class="music" data-no-turbolink>
  <h1>Music</h1>
  <div class="row">
    <div class="col-1">
      <p>I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.</p>
    </div>
    <div class="col-2">
      <p>Check out some of my mixes below from the past few years, a selection of Drum &amp; Bass, Techno and House music.</p>
    </div>
  </div>
  <div id="player-1" class="media-player"></div>
  <div id="player-2" class="media-player"></div>
  <div id="player-3" class="media-player"></div>
  <div id="player-4" class="media-player"></div>
  <div id="player-5" class="media-player"></div>
  <div id="player-6" class="media-player"></div>
  <div id="player-7" class="media-player"></div>
</section>

<script data-turbolinks-eval=false>
  (function() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.async = true;
    script.src = "//sd.toneden.io/production/toneden.loader.js"
    var entry = document.getElementsByTagName("script")[0];
    entry.parentNode.insertBefore(script, entry);
  }());
</script>
<script>
  ToneDenReady = window.ToneDenReady || [];

  var configOne = {
    dom: "#player-1",
    urls: [
      "https://soundcloud.com/olliekav/ollie-k-dnb-mix-270513"
    ]
  }
  var configTwo = {
    dom: "#player-2",
    urls: [
      "https://soundcloud.com/olliekav/ollie-k-drum-bass-mix-2000"
    ]
  }
  var configThree = {
    dom: "#player-3",
    urls: [
      "https://soundcloud.com/olliekav/drum-and-bass-mix-2005"
    ]
  }
  var configFour = {
    dom: "#player-4",
    urls: [
      "https://soundcloud.com/olliekav/olliek-mixjune04"
    ]
  }
  var configFive = {
    dom: "#player-5",
    urls: [
      "https://soundcloud.com/olliekav/ollie-k-house-techno-mix-21-02"
    ]
  }
  var configSix = {
    dom: "#player-6",
    urls: [
      "https://soundcloud.com/olliekav/ollie-k-house-techno-mix-19-05"
    ]
  }
  var configSeven = {
    dom: "#player-7",
    urls: [
      "https://soundcloud.com/olliekav/house-techno-mix-12-12-08"
    ]
  }

  if(typeof ToneDen != 'undefined'){
    ToneDen.player.create(configOne);
    ToneDen.player.create(configTwo);
    ToneDen.player.create(configThree);
    ToneDen.player.create(configFour);
    ToneDen.player.create(configFive);
    ToneDen.player.create(configSix);
    ToneDen.player.create(configSeven);
  } else {
    ToneDenReady.push(function() {
      ToneDen.player.create(configOne);
      ToneDen.player.create(configTwo);
      ToneDen.player.create(configThree);
      ToneDen.player.create(configFour);
      ToneDen.player.create(configFive);
      ToneDen.player.create(configSix);
      ToneDen.player.create(configSeven);
    }); 
  }

</script>