- content_for :head do
  %title olliekav.com - Music

%h1 Music

.set

  %h2 Drum & Bass 

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47761376&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47743327&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47740482&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>

.set

  %h2 House & Techno

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47756803&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47745925&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F47744999&amp;auto_play=false&amp;show_artwork=false&amp;color=75c5bf"></iframe>