<% content_for(:title, "Music") %>
<% content_for(:description, "I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.") %>

<section class="music" data-no-turbolink>
  <h1>Music</h1>
  <div class="row">
    <div class="col-1">
      <p>I've been DJ'ing since the mid 90's, playing alongside some of the top artists in the Drum &amp; Bass scene and running club nights with labels such as Metalheadz, Atlas, Hospital, 1Xtra &amp; Commercial Suicide.</p>
    </div>
    <div class="col-2">
      <p>Check out some of my mixes below from the past few years, a selection of Drum &amp; Bass, Techno and House music.</p>
    </div>
  </div>
  <iframe width="100%" height="500" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/420802691&color=%23464646&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>
</section>