<% content_for(:title, "A selection of my work") %>
<%# content_for(:description, "") %>

<section class="work-list">
  
  <% work_list = data.work.clients %>
  <% $stderr.puts work_list %>
  <% work_list.each do |c| %>
    <article class="client">
      <% link_to("/work/#{c.url}/", class: "#{c.url}", title: c.name) do %>
        <% image_url = "work/#{c.url}/#{c.logo}" %>
        <%= image_tag(image_url, :alt => c.name) %>
        <h2><%= c.name %></h2>
      <% end %>
    </article>
  <% end %>

</section>